.container{
    margin-top: 23px;
}
.card{
    margin-top: 30px;
}

.sliders{
    margin-top: 27px;
}
/* .d-blocl w-100{
    height: 20%;
    width: 30%;
} */
.navbar{
    margin-top: 10px;
}
.col{
    margin-top: 10px;
    margin-bottom: 45px;
}